@inject D6.Models.Borrower_Details BorroweredBook


@{
    ViewData["Title"] = "BooksofCategory";
}

@foreach (var item in ViewBag.BookCat)
{
    <div class="templatemo_product_box">
        <h1>
            @item.Book_Title
            <span>( In @item.Language )</span>
        </h1>
        <img src="~/images/templatemo_image_01.jpg" />
        <div class="product_info">
            <p>Publication in @item.Publication_year </p>
            <button class="buy_now_button">
                <a asp-action="BorrowBook" asp-route-Book_id="@item.ID">Borrow</a>
            </button>                           
            <button class="detail_button"><a asp-action="Details" asp-route-book_id="@item.ID">Detail</a></button>

            @*<h3></h3>*@
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>

    <div class="cleaner_with_width">&nbsp;</div>

}

