@using Microsoft.AspNetCore.Identity
@using eT3.LibraryApplication.Areas.Identity.Data;
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<D6.Models.Book_Details>
@inject IEnumerable<D6.Models.Category> Category
@inject D6.Models.Borrower_Details BorroweredBook
@*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Library Management System</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script>
 $(document).ready(function(){
  $("#submitButton").on("click",function()
  {
   alert('Your Message');
  });

});
</script>
</head>
<body>
    <div id="templatemo_container">
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html" class="current">Home</a></li>
                <li><a href="subpage.html">Search</a></li>
                <li><a asp-action="BorrowedBooks">Borrow</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div> <!-- end of menu -->

        <div id="templatemo_header">
            <div id="templatemo_special_offers">
                <p>
                    <span>25%</span> Best choices

                </p>
                <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
            </div>


            <div id="templatemo_new_books">
                <ul>
                    <li>Suspen disse</li>
                    <li>Maece nas metus</li>
                    <li>In sed risus ac feli</li>
                </ul>
                <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
            </div>
        </div> <!-- end of header -->

        <div id="templatemo_content">

            <div id="templatemo_content_left">
                <div class="templatemo_content_left_section">
                    <h1>Categories</h1>
                    <ul>
                        @foreach (var item in ViewBag.catgories)
                        {
                            <li><a asp-action="BooksOfCategriey" asp-route-id="@item.ID">@item.Category_Name</a></li>

                        }

                    </ul>
                </div>
                <div class="templatemo_content_left_section">
                    <h1>The most popular</h1>
                    <ul>
                        <li><a href="#">Vestibulum ullamcorper</a></li>
                        <li><a href="#">Maece nas metus</a></li>
                        <li><a href="#">In sed risus ac feli</a></li>
                        <li><a href="#">Praesent mattis varius</a></li>
                        <li><a href="#">Maece nas metus</a></li>
                        <li><a href="#">In sed risus ac feli</a></li>
                    
                    </ul>
                </div>


            </div> <!-- end of content left -->

            <div id="templatemo_content_right">
                @foreach (var item in ViewBag.books)
                {
                    <div class="templatemo_product_box">
                        <h1>
                            @item.Book_Title
                            <span>( In @item.Language )</span>
                        </h1>
                        <img src="~/images/templatemo_image_01.jpg" />
                        <div class="product_info">
                            <p>Publication in @item.Publication_year </p>
                            <button class="buy_now_button">
                                <a asp-action="BorrowBook" asp-route-Book_id="@item.ID">Borrow</a>
                            </button>
                            <button class="detail_button"><a asp-action="Details" asp-route-book_id="@item.ID">Detail</a></button>
                            @*<h3></h3>*@
                        </div>
                        <div class="cleaner">&nbsp;</div>
                    </div>

                    <div class="cleaner_with_width">&nbsp;</div>

                }

                <br /><br />
            
            </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->

        <div id="templatemo_footer">

            <a href="subpage.html">Home</a> | <a>Search</a> | <a>Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
            Copyright © 2022 <a href="#"><strong>Your Library Name</strong></a>
        </div>
        <!-- end of footer -->
    </div> <!-- end of container -->
</body>
</html>